/* Enter your custom styles here */
.border-n{
	 border-bottom : 0px;
}
.border-b{
	 border-bottom : 1px solid #e5e5e5;
}

.margin-n{
	margin:0px 0px 0px 0px;
}
.margin-t-5{
	margin-top:5px;
}

.padding-n{
	padding:0px 0px 0px 0px;
}